<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="INF1A">
        <meta name="description" content="Stenden Support Desk">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Stenden Support Desk{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//static.kuubstudios.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//static.kuubstudios.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//static.kuubstudios.com/datatables/1.10.4/css/dataTables.bootstrap.css">
        <link rel="stylesheet" href="//static.kuubstudios.com/select2-4.0.0-beta.2/dist/css/select2.min.css">
        <link rel="stylesheet" href="/style.css">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="shortcut icon" href="/favicon.ico">

        <!--[if lt IE 9]>
          <script src="//static.kuubstudios.com/html5shiv.min.js"></script>
          <script src="//static.kuubstudios.com/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="//static.kuubstudios.com/jquery/jquery-1.11.1.min.js"></script>
        <script src="//static.kuubstudios.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//static.kuubstudios.com/ie10-viewport-bug-workaround.js"></script>
        <script src="//static.kuubstudios.com/datatables/1.10.4/js/jquery.dataTables.min.js"></script>
        <script src="//static.kuubstudios.com/datatables/1.10.4/js/dataTables.bootstrap.js"></script>
        <script src="//static.kuubstudios.com/select2-4.0.0-beta.2/dist/js/select2.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>