{% extends "dashboard.twig" %}

{% block title %}Nieuwe gebruiker aanmaken | Stenden Support Desk{% endblock %}

{% block innerContent %}
<div class="row">
<h2>Nieuwe gebruiker aanmaken</h2>
    <form role="form" method="POST" action="/login">
                            <fieldset>
                            <legend>Gebruikergegevens</legend>
                                <div class="form-group">
                                	Inlognaam
                                    <input class="form-control" placeholder="Inlognaam" name="inlognaam" type="text" autofocus>
                                </div>
                                	Wachtwoord
                                <div class="form-group">
                                    <input class="form-control" placeholder="wachtwoord" name="adres" type="password">
                                </div>
                                	Volledige naam
                                <div class="form-group">
                                    <input class="form-control" placeholder="naam" name="naam" type="text">
                                </div>
                                Bedrijf
                                <div class="form-group">
                                    <input class="form-control" placeholder="Bedrijfsnaam" name="bedrijf" type="text">
                                </div>
                                	Functie
                                <div class="form-group">
                                    <input class="form-control" placeholder="Functie" name="functie" type="text">
                                </div>
                                Afdeling
                                <div class="form-group">
                                    <input class="form-control" placeholder="Afdeling" name="afdeling" type="text">
                                </div>
                                    Telefoonnummer / Doorkiesnummer
                                <div class="form-group">
                                    <input class="form-control" placeholder="Telefoonnummer" name="telefoon" type="text">
                                </div>
                                E-mailadres
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mailadres" name="emailadres" type="text">
                                </div>
                                Foto
                                <div class="form-group">
                                    <input class="form-control" name="foto" type="file">
                                </div>
                                <input type="submit" name="submit" class="btn btn-lg btn-success btn-block" value="Opslaan">
                            </fieldset>
                        </form>
                    </div>
{% endblock %}