{% extends "dashboard.twig" %}

{% block title %}Profiel | Stenden Support Desk{% endblock %}

{% block innerContent %}
<div class="panel-body">
 <form role="form" method="POST" action="/profile">
                            <fieldset>
                            	<label>Naam</label>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Gebruikersnaam" name="username" type="text" autofocus>
                                </div><label>Email</label>
                                 <div class="form-group">
                                    <input class="form-control" placeholder="Email-adress" name="email" type="e-mail" autofocus>
                                </div><label>Wachtwoord</label>
                                 <div class="form-group">
                                    <input class="form-control" placeholder="Wachtwoord" name="wachtwoord" type="password" autofocus>
                                </div><label>Telefoonnummer</label>
                                 <div class="form-group">
                                    <input class="form-control" placeholder="Telefoonummer" name="tnummer" type="text" autofocus>
                                </div><label>Afbeelding</label>
                                 <div class="form-group">
                                    <input class="form-control" placeholder="Gebruikersnaam" name="plaatje" type="file" autofocus>
                                </div>
                                <input type="submit" name="submit" class="btn btn-lg btn-success btn-block">
                            </fieldset>
                        </form>
                        </div>	
{% endblock %}